.championship .agostino-corsa,
.championship .agostino-corsa a {
    background-color: #9f9fa1;
    color: #715c14;
}

.championship .archer-bmr,
.championship .archer-bmr a {
    background-color: #252a33;
    color: #ebc340;
}

.championship .bennett-grand-prix,
.championship .bennett-grand-prix a {
    background-color: #685b9f;
    color: #c0bcb7;
}

.championship .boa-esperança,
.championship .boa-esperança a {
    background-color: #e09515;
    color: #ac3229;
}

.championship .chariot-motor-group,
.championship .chariot-motor-group a {
    background-color: #3f9352;
    color: #f0f0f0;
}

.championship .crs-formula-racing-group,
.championship .crs-formula-racing-group a {
    background-color: #9d0060;
    color: #ffbc9a;
}

.championship .dogtooth-lake-motor-group,
.championship .dogtooth-lake-motor-group a {
    background-color: #7eccff;
    color: #4285b1;
}

.championship .dragon-race-team-china,
.championship .dragon-race-team-china a {
    background-color: #db223f;
    color: #110d13;
}

.championship .eastwood-motorsport,
.championship .eastwood-motorsport a {
    background-color: #a5b263;
    color: #3f8958;
}

.championship .empress-autosport,
.championship .empress-autosport a {
    background-color: #d17ab6;
    color: #cca612;
}

.championship .espirit-gp,
.championship .espirit-gp a {
    background-color: #9151a9;
    color: #87d2bf;
}

.championship .firebird-mrt,
.championship .firebird-mrt a {
    background-color: #1f9094;
    color: #262532;
}

.championship .fong-motorsport,
.championship .fong-motorsport a {
    background-color: #1f5daa;
    color: #ffff51;
}

.championship .frost-racing-group,
.championship .frost-racing-group a {
    background-color: #f7f7f7;
    color: #4279c3;
}

.championship .garuda-racing,
.championship .garuda-racing a {
    background-color: #e86f32;
    color: #737373;
}

.championship .grand-slam-autosport,
.championship .grand-slam-autosport a {
    background-color: #c96c5b;
    color: #fff9ef;
}

.championship .hammer-amr,
.championship .hammer-amr a {
    background-color: #a24984;
    color: #3b4353;
}

.championship .johnson-racing-team,
.championship .johnson-racing-team a {
    background-color: #c4c4c4;
    color: #156485;
}

.championship .kitano-sport,
.championship .kitano-sport a {
    background-color: #c6c7c6;
    color: #ce1b21;
}

.championship .krüger-motorsport,
.championship .krüger-motorsport a {
    background-color: #898889;
    color: #2fbd7f;
}

.championship .lagro-banco-motorsport,
.championship .lagro-banco-motorsport a {
    background-color: #f9db13;
    color: #007dbf;
}

.championship .lockhart-motorsport,
.championship .lockhart-motorsport a {
    background-color: #e99932;
    color: #302f2d;
}

.championship .lucatelli-racing,
.championship .lucatelli-racing a {
    background-color: #262a31;
    color: #a47a2d;
}

.championship .macneil-racing-team,
.championship .macneil-racing-team a {
    background-color: #f1f1f2;
    color: #336b8a;
}

.championship .makoma-racing-team,
.championship .makoma-racing-team a {
    background-color: #443705;
    color: #816909;
}

.championship .magyar-engineering,
.championship .magyar-engineering a {
    background-color: #33353b;
    color: #639349;
}

.championship .marshall-gt,
.championship .marshall-gt a {
    background-color: #404ea1;
    color: #c79dab;
}

.championship .motor-works-performance,
.championship .motor-works-performance a {
    background-color: #078d8c;
    color: #f1dd73;
}

.championship .mrt-valbuena,
.championship .mrt-valbuena a {
    background-color: #ffff0c;
    color: #160a0b;
}

.championship .nakata-performance,
.championship .nakata-performance a {
    background-color: #bb2160;
    color: #ededef;
}

.championship .nicholson-racing,
.championship .nicholson-racing a {
    background-color: #f4f4f5;
    color: #e72829;
}

.championship .oakham-mrt,
.championship .oakham-mrt a {
    background-color: #4773ab;
    color: #f5d415;
}

.championship .oberhof-racing-team,
.championship .oberhof-racing-team a {
    background-color: #29a98c;
    color: #2a2b2c;
}

.championship .octane-racing,
.championship .octane-racing a {
    background-color: #b5aa39;
    color: #272a31;
}

.championship .oranje-gt,
.championship .oranje-gt a {
    background-color: #e14d31;
    color: #383b47;
}

.championship .orléans-amr,
.championship .orléans-amr a {
    background-color: #947531;
    color: #2e2e2f;
}

.championship .otsuno-racing,
.championship .otsuno-racing a {
    background-color: #2d2d2d;
    color: #9d9c49;
}

.championship .ozu-motor-team,
.championship .ozu-motor-team a {
    background-color: #f62723;
    color: #eeeeee;
}

.championship .panther-race-team,
.championship .panther-race-team a {
    background-color: #89598c;
    color: #140908;
}

.championship .predator-racing-group,
.championship .predator-racing-group a {
    background-color: #ec485c;
    color: #fcfcfc;
}

.championship .rezzato-corsa,
.championship .rezzato-corsa a {
    background-color: #dc334a;
    color: #162d48;
}

.championship .rogendaal-gt-team,
.championship .rogendaal-gt-team a {
    background-color: #f09714;
    color: #1f1f1f;
}

.championship .ruiz-motorsport,
.championship .ruiz-motorsport a {
    background-color: #4296aa;
    color: #bb5114;
}

.championship .scuderia-pergusa,
.championship .scuderia-pergusa a {
    background-color: #ead369;
    color: #f68a65;
}

.championship .scuderia-rossini,
.championship .scuderia-rossini a {
    background-color: #ff342a;
    color: #211514;
}

.championship .silva-racing,
.championship .silva-racing a {
    background-color: #46aa6f;
    color: #fcfcfc;
}

.championship .skanström-gt,
.championship .skanström-gt a {
    background-color: #f6f4f1;
    color: #e7c805;
}

.championship .spartan-mrt,
.championship .spartan-mrt a {
    background-color: #9f7a2e;
    color: #9f1d3f;
}

.championship .steel-angel-autosport,
.championship .steel-angel-autosport a {
    background-color: #ec489d;
    color: #0ca8e8;
}

.championship .steiner-mrt,
.championship .steiner-mrt a {
    background-color: #832238;
    color: #bbcccc;
}

.championship .steinmann-motorsport,
.championship .steinmann-motorsport a {
    background-color: #eeeff0;
    color: #089e8c;
}

.championship .team-kirov,
.championship .team-kirov a {
    background-color: #61b3cd;
    color: #c71a34;
}

.championship .team-nordhagen,
.championship .team-nordhagen a {
    background-color: #47aa81;
    color: #3d3a48;
}

.championship .thornton-motorsport,
.championship .thornton-motorsport a {
    background-color: #2d7035;
    color: #cead5d;
}

.championship .toruń-gt,
.championship .toruń-gt a {
    background-color: #d8d9d9;
    color: #2f2e2e;
}

.championship .tropica-racing-tech,
.championship .tropica-racing-tech a {
    background-color: #d0a31e;
    color: #bf1422;
}

.championship .van-dort-racing,
.championship .van-dort-racing a {
    background-color: #ffad05;
    color: #ffffd9;
}

.championship .vélan-racing,
.championship .vélan-racing a {
    background-color: #c6648c;
    color: #bcbdc5;
}

.championship .vexala-motorsport,
.championship .vexala-motorsport a {
    background-color: #7f5070;
    color: #11121b;
}

.championship .vittorio-corsa,
.championship .vittorio-corsa a {
    background-color: #e7e7e7;
    color: #218d52;
}

.championship .windsor-racing,
.championship .windsor-racing a {
    background-color: #fafafa;
    color: #111b1f;
}

.championship .wirleich-bonniel-team,
.championship .wirleich-bonniel-team a {
    background-color: #fafafa;
    color: #b40000;
}

.championship .wolfhagen-racing,
.championship .wolfhagen-racing a {
    background-color: #848584;
    color: #2d2d2d;
}

.championship .yuma-race-team,
.championship .yuma-race-team a {
    background-color: #eaebee;
    color: #8f549c;
}

.championship .zampelli-engineering,
.championship .zampelli-engineering a{
    background-color: #194174;
    color: #f8f8f8;
}

.championship .zrt-autosport,
.championship .zrt-autosport a{
    background-color: #347bac;
    color: #fafafa;
}