.championship .agostino-corsa {
    background-color: #9f9fa1;
    color: #715c14;
}

.championship .archer-bmr {
    background-color: #252a33;
    color: #ebc340;
}

.championship .boa-esperança {
    background-color: #e09515;
    color: #ac3229;
}

.championship .chariot-motor-group {
    background-color: #3f9352;
    color: #f0f0f0;
}

.championship .crs-formula-racing-group {
    background-color: #9d0060;
    color: #ffbc9a;
}

.championship .dragon-race-team-china {
    background-color: #db223f;
    color: #110d13;
}

.championship .eastwood-motorsport {
    background-color: #a5b263;
    color: #3f8958;
}

.championship .empress-autosport {
    background-color: #d17ab6;
    color: #cca612;
}

.championship .espirit-gp {
    background-color: #9151a9;
    color: #87d2bf;
}

.championship .firebird-mrt {
    background-color: #1f9094;
    color: #262532;
}

.championship .fong-motorsport {
    background-color: #1f5daa;
    color: #ffff51;
}

.championship .garuda-racing {
    background-color: #e86f32;
    color: #737373;
}

.championship .johnson-racing-team {
    background-color: #c4c4c4;
    color: #156485;
}

.championship .kitano-sport {
    background-color: #c6c7c6;
    color: #ce1b21;
}

.championship .krüger-motorsport {
    background-color: #898889;
    color: #2fbd7f;
}

.championship .lagro-banco-motorsport {
    background-color: #f9db13;
    color: #007dbf;
}

.championship .lucatelli-racing {
    background-color: #262a31;
    color: #a47a2d;
}

.championship .macneil-racing-team {
    background-color: #f1f1f2;
    color: #336b8a;
}

.championship .makoma-racing-team {
    background-color: #443705;
    color: #816909;
}

.championship .motor-works-performance {
    background-color: #078d8c;
    color: #f1dd73;
}

.championship .mrt-valbuena {
    background-color: #ffff0c;
    color: #160a0b;
}

.championship .octane-racing {
    background-color: #b5aa39;
    color: #272a31;
}

.championship .ozu-motor-team {
    background-color: #f62723;
    color: #eeeeee;
}

.championship .panther-race-team {
    background-color: #89598c;
    color: #140908;
}

.championship .predator-racing-group {
    background-color: #ec485c;
    color: #fcfcfc;
}

.championship .rezzato-corsa {
    background-color: #dc334a;
    color: #162d48;
}

.championship .rogendaal-gt-team {
    background-color: #f09714;
    color: #1f1f1f;
}

.championship .ruiz-motorsport {
    background-color: #4296aa;
    color: #bb5114;
}

.championship .scuderia-pergusa {
    background-color: #ead369;
    color: #f68a65;
}

.championship .scuderia-rossini {
    background-color: #ff342a;
    color: #211514;
}

.championship .silva-racing {
    background-color: #46aa6f;
    color: #fcfcfc;
}

.championship .steel-angel-autosport {
    background-color: #ec489d;
    color: #0ca8e8;
}

.championship .steinmann-motorsport {
    background-color: #eeeff0;
    color: #089e8c;
}

.championship .team-kirov {
    background-color: #61b3cd;
    color: #c71a34;
}

.championship .thornton-motorsport {
    background-color: #2d7035;
    color: #cead5d;
}

.championship .van-dort-racing {
    background-color: #ffad05;
    color: #ffffd9;
}

.championship .vélan-racing {
    background-color: #c6648c;
    color: #bcbdc5;
}

.championship .vexala-motorsport {
    background-color: #7f5070;
    color: #11121b;
}

.championship .windsor-racing {
    background-color: #fafafa;
    color: #111b1f;
}

.championship .wirleich-bonniel-team {
    background-color: #fafafa;
    color: #b40000;
}

.championship .zampelli-engineering {
    background-color: #194174;
    color: #f8f8f8;
}

.championship .zrt-autosport {
    background-color: #347bac;
    color: #fafafa;
}